extends ../layout

block navigation
    +breadcrumb('admin', 'berths')

block content
    .page-header= berth.new ? "New Berth" : berth.number + " - " + berth.owner
    form
        .field
            label Number:
            input(type="text" name="number" value=berth.number autofocus required)
        .field
            label Owner:
            input(type="text" name="owner" value=berth.owner)
        .page-footer
            input#berthSubmit.btn.btn-success(type="submit" value= berth.new ? "Create" : "Save")
            if !berth.new
                button#berthDelete.btn.btn-danger(type="button") Delete
        .error
    if !berth.new
        .field
        h3 Positions
        ul.camera-list.berth-positions-list
            each position in berth.cameraPositions
                li
                    span.title
                        a(href="/admin/cameras/#{position.camera && position.camera.slug}")= position.camera && position.camera.title || " "
                    span.position= "x " + position.x.toFixed(1) + "\u00B0"
                    span.position= "y " + position.y.toFixed(1) + "\u00B0"
                    span.position= position.zoom.toFixed(1) + "x"
                    i.fa.fa-close.pull-right

block scripts
    script.
        var berthData = !{JSON.stringify(berth, null, 2)}
    script(src="/javascripts/admin/berth-page.js")
