extends ../layout

block navigation
    +breadcrumb('admin', 'berths')

block content
    .page-header= berth.new ? "New Berth" : berth.number + " - " + berth.owner
    form
        .field
            label Number:
            input(type="text" name="number" value=berth.number autofocus required)
        .field
            label Owner:
            input(type="text" name="owner" value=berth.owner)
        .page-footer
            input#berthSubmit.btn.btn-success(type="submit" value= berth.new ? "Create" : "Save")
            if !berth.new
                button#berthDelete.btn.btn-danger Delete
        .error
    if !berth.new
        h3 Positions
        ul
            each position in berth.positions
                li
                    a(href="/admin/cameras/#{position.camera.slug}")= position.camera.title
                    | &nbsp;(x=#{position.x.toFixed(1)}, y=#{position.y.toFixed(1)}, zoom=#{position.zoom.toFixed(1)})
                    button.btn.btn-danger Slet

block scripts
    script.
        var berthData = !{JSON.stringify(berth, null, 2)}
    script(src="/javascripts/admin/berth-page.js")
