extends ../layout

include camera-template

block navigation
    +breadcrumb('admin')

block content
    .list-column
        ul#camerasContainer

        .page-footer
            a.btn.btn-success(href="admin/cameras/new") Opret nyt kamera
    .content-column
        form#cameraForm
            fieldset#cameraEntryContainer
            .page-footer
                input.btn.btn-danger(type="reset" value="Cancel")
                input.btn.btn-success(type="submit" value="Save")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(src="/javascripts/admin/rest-client.js")
    script#cameraRowTemplate(type="text/x-jquery-tmpl")
        li(id="${_id}")
            a(href="#" data-id="${_id}" class="cameraSelect")
                .status-indicator
                | ${title}
    script#cameraEntryTemplate(type="text/x-jquery-tmpl")
        +cameraTemplate
        //-| {{if _id}}
            input#idField(name="id" type="hidden" value="${_id}")
            | {{/if}}
            label(for="titleFld") Title:
            input#titleFld(name="title" value="${title}")
    script(src="/javascripts/admin/cameras-list-page.js")
