mixin cameraTemplate()
    .page-header
        .status-indicator
        | {{if _id}}
        a(href="/cameras/${slug}" target="_blank") ${title}
        | {{else}}
        | New Camera
        | {{/if}}
    | {{if _id}}
    input#idField(name="id" type="hidden" value="${_id}")
    | {{/if}}
    .field
        label Enabled:
        | {{if enabled}}
        input#enabled(type="checkbox" name="enabled" value="true" checked="${enabled}")
        | {{else}}
        input#enabled(type="checkbox" name="enabled" value="true")
        | {{/if}}
    .field
        label Title:
        input(type="text" name="title" value="${title}" autofocus)
    .field
        label Slug:
        input(type="text" name="slug" value="${slug}" required)
    .field
        label Hostname:
        input(type="text" name="hostname" value="${hostname}")
    .field
        label Username:
        input(type="text" name="username" value="${username}")
    .field
        label Password:
        input(type="text" name="password" value="${password}")
    .field
        label RTMP hostname:
        input.wide(type="text" name="uri" value="${uri}")
    .field
        label ONVIF port:
        input.narrow(type="number" name="onvif" value="${onvif}" min="0" max="65535" maxlength="5")
    .field
        label HTTP port:
        input.narrow(type="number" name="http" value="${http}" min="0" max="65535" maxlength="5")
