extends ../layout

block navigation
    +breadcrumb('admin', 'cameras')

block content
    .page-header
        .status-indicator
        if camera.new
            | New Camera
        else
            a(href="/cameras/" + camera.slug target="_blank")= camera.title
    form
        .field
            label Enabled:
            input#enabled(type="checkbox" name="enabled" value="true" checked=camera.enabled)
        .field
            label Title:
            input(type="text" name="title" value=camera.title autofocus)
        .field
            label Slug:
            input(type="text" name="slug" value=camera.slug  required)
        .field
            label Hostname:
            input(type="text" name="hostname" value=camera.hostname)
        .field
            label Username:
            input(type="text" name="username" value=camera.username)
        .field
            label Password:
            input(type="text" name="password" value=camera.password)
        .field
            label RTMP hostname:
            input.wide(type="text" name="uri" value=camera.uri)
        .field
            label ONVIF port:
            input.narrow(type="number" name="onvif" value=camera.onvif min="0" max="65535" maxlength="5")
        .field
            label HTTP port:
            input.narrow(type="number" name="http" value=camera.http min="0" max="65535" maxlength="5")
        .page-footer
            input#cameraSubmit.btn.btn-success(type="submit" value= camera.new ? "Create" : "Save")
            if !camera.new
                button#cameraDelete.btn.btn-danger(type="button") Delete
        .error

        //-if !berth.new
        h3 Positions
        ul
            each position in camera.positions
                li
                    a(href="/admin/berths/#{position.berth.number}")= position.berth.number
                    | &nbsp;(x=#{position.x.toFixed(1)}, y=#{position.y.toFixed(1)}, zoom=#{position.zoom.toFixed(1)})
                    button.btn.btn-danger(type="button") Delete

block scripts
    script.
        var cameraData = !{JSON.stringify(camera, null, 2)}
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/admin/camera-page.js")
