extends layout

block navigation
    +breadcrumb('profile')

block content
    .page-header= user.new ? "New User" : user.name
    form
        .field
            label First name:
            input(type="text" name="firstname" value=user.firstname autofocus required)
        .field
            label Last name:
            input(type="text" name="lastname" value=user.lastname)
        .field
            label Username:
            input(type="text" name="username" value=user.username)
        .field
            label Password:
            input(type="text" name="password" value=user.password)
        .field
            label Role:
            != user.role
        .page-footer
            input#userSubmit.btn.btn-success(type="submit" value= user.new ? "Create" : "Save")
        .error


block scripts
    script.
        var userData = !{JSON.stringify(user, null, 2)}
    script(src="/javascripts/profile-page.js")
