extends layout

block navigation
    +breadcrumb('profile')

block content
    .page-header= authenticatedUser.name
    form
        .field
            label First name:
            input(type="text" name="firstname" value=authenticatedUser.firstname autofocus required)
        .field
            label Last name:
            input(type="text" name="lastname" value=authenticatedUser.lastname)
        .field
            label Username:
            input(type="text" name="username" value=authenticatedUser.username)
        .field
            label Password:
            input(type="text" name="password" value=authenticatedUser.password)
        .field
            label Role:
            != authenticatedUser.role
        .page-footer
            input#userSubmit.btn.btn-success(type="submit" value= authenticatedUser.new ? "Create" : "Save")
        .error


block scripts
    script.
        var userData = !{JSON.stringify(authenticatedUser, null, 2)}
    script(src="/javascripts/profile-page.js")
